@section styles {
@await RenderSectionAsync("styles", required: false)
}

@{
Layout = "~/Views/Shared/_Layout.cshtml";
}

<div>
    <header>
        <nav class="navbar navbar-expand-lg navbar-light bg-light d-flex justify-content-around">
            <ul class="navbar-nav">
                <a class="navbar-brand" asp-action="Index" asp-controller="Home">Idlehammer</a>
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" asp-action="Leaderboard"
                        asp-controller="User">Лидерборд</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" asp-action="Settings"
                        asp-controller="User">Настройки</a>
                </li>
            </ul>
            <ul class="navbar-nav">
                <li class="nav-item">
                    <form asp-action="Logout" asp-controller="Auth">
                        <input type="submit" class="btn btn-secondary" value="Выйти из аккаунта" />
                    </form>
                </li>
            </ul>
        </nav>
    </header>
    @RenderBody();
</div>

@section scripts {
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
@await RenderSectionAsync("scripts", required: false)
}
